.loginToggle {list-style: none;padding: 0; border-bottom: 1px solid #CFCAC4;padding: 15px 10px;}
.loginToggle .loginAcordeon {display: none;overflow: hidden;padding-left: 1em;}
.loginToggle .loginAcordeon li {margin: .5em 0; list-style: none;padding: 10px;border-bottom: 1px solid #CFCAC4;}
.loginToggle .loginAcordeon li a{text-decoration: none; color: #002c76;font-size: 12px;}
.loginToggle .loginAcordeon li:last-child{border-bottom: 0px;}
